.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  background-image: url("https://townsquare.media/site/295/files/2016/05/agentsoffortune.jpg?w=600&h=0&zc=1&s=0&a=t&q=89");
  background-repeat: no-repeat;
  background-size: cover;
}

.over-wrap {
  background-color: rgba(20, 20, 20, 0.6);
  padding: 20px, 30px, 20px, 30px;
  display: flex;
  flex-wrap: wrap;
}

.game-over-text-hide {
  visibility: hidden;
}

.game-over-text-show {
  visibility: default;
}